*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
	vertical-align: top;
}

h1 {
	font-weight: inherit;
	font-size: inherit;
	font-family: "Manrope";
}

button{
	font-family: "Manrope";
}

input{
	font-family: "Manrope";
}

:focus {
	outline: 0;
}

html,
body {
	background-color: #FFFFFF;
	height: 100%;
	color: #323232;
	font-family: "Manrope";
    font-size: 17px;
}

.page{}